.gradient-container{
    width: 100%;
    text-align: center;
    align-items: center;
    float: inherit;
}

.gradient-ghost{
    margin: 10px;
    text-align: center;
    align-items: center;
    padding-left: auto;
    height: 100%;
    padding-bottom: 100%;
    position:relative;
    text-align: center;
    align-items: center;
    float: inherit;
}

.gradient-grid{
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    width: 40%;
    height: 40%;
    background-color: beige;
}